/* whoami */
.widget-whoami .widget__content{
    text-align: left;
}
.widget-whoami .widget__content img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}
.widget-whoami .widget__content p{
    font-size: 0.85rem;
    margin-bottom: 3px;
}
.widget-whoami .widget__content .name{
	font-size: 1.3rem;
    margin-top: 3px;
}
.whoami-social .fab{
	margin: 10px 5px 0 0;
	vertical-align: middle;
	fill: #000;
    font-size: 1.2rem;
}
.whoami-social a{
    display: inline;
}

/* font settings */
body {
	font-size: 1rem;
}

/* thumbnail settings */
.list__thumbnail{
    float: none;
    margin-top: 10px;
}
